<title>SHOW</title>

<p>
  <strong>FV:</strong>
  <%= @allegro.fv %>
</p>

<p>
  <strong>Product:</strong>
  <%= @allegro.name %>
</p>  <p>
  <strong>Title:</strong>
  <%= @allegro.name %>
</p>

<p>
  <strong>Cena:</strong>
  <%= @allegro.cost %>
</p> </br >

<%= link_to 'Back',  %>






<p>
      <%= form.submit %>
    </p>

<% end %>
