
<h1>Allegro - index</h1>

<table>
  <tr>
    <th>FV</th>
    <th>Name</th>
    <th>Product</th>
    <th>Cena</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @allegro.each do |allegro| %>
      <tr>
        <td><%= allegro.fv %></td>
        <td><%= allegro.name %></td>
        <td><%= allegro.product %></td>
        <td><%= allegro.cost %></td>
        <td><%= link_to 'Show', allegro_path(allegro) %></td>
        <td><%= link_to 'Edit', edit_allegro_path(allegro) %></td>
        <td><%= link_to 'Destroy', allegro_path(allegro),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  <%= link_to 'New', new_allegro_path %>
</table>




